html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.game-screen {
  background: black;
  color: rgb(54, 182, 54);
  width: 100vw;
  height: 100vh;
  font-family: monospace;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.game-player {
  /* padding: 0vh 10vw; */
}

.game-player-surroundings {
  min-height: 100px;
}

.game-player-currentmessage {
  text-align: center;
}